@keyframes animation{
    0%{background-color: red;top: 0;left: 0;}
    25%{background-color: blue;top: 0;left: 200;}
    50%{background-color: yellow;top: 200;left: 200;}
    75%{background-color: green;top: 200;left: 0;}
    100%{background-color: purple;top: 0;left: 0;}
}

body{
    margin: 0;
}
div{
    width: 150px;
    height: 150px;
    position: absolute;
    background-color: purple;
    animation-name: animation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}